.container{
  width: 400px;
  height: 400px;
  background-color: rgb(47, 47, 53);

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.349);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;

  margin: 10px;
}

.result{
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
}

.result::-webkit-scrollbar{
  width: 2px;
  background-color: rgb(0, 255, 42);
}

.result::-webkit-scrollbar-thumb{
  width: 2px;
  background-color: rgb(16, 61, 23);
}

.result ul{
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

  margin-top: 40px;
  position: relative;
}

.result ul li{
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.267);
  margin: 5px;
}

.container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form button,
.container form input{
  width: 200px;
  height: 35px;

  border: none;
  background-color: #fff;
  margin: 10px;
  border-radius: 2px;

  font-family: Arial;
  font-size: 18px;

  padding: 4px;
  text-align: center;
}

.container form button{
  background-color: rgb(22, 255, 80);
  color: rgb(42, 43, 48);
  cursor: pointer;
}

.login p{
  color: rgb(50, 175, 66);
  padding: 20px;
}

.login img{
  width: 40px;
  height: 40px;
  border-radius: 60%;
  object-fit: cover;
}

.followers{
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.199);
  margin: 2px;
}