*::before, *, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
   min-height: 100vh;
   width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  width: 100%;
  height: 70px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(48, 138, 255);
  color: #fff;
}

header h1{
  font-family: Arial;
}

main{
  min-height: calc(100vh - 70px);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(35, 35, 36);
  flex-wrap: wrap;
}

footer{
  height: 80px;
  width: 100%;
  background-color: rgb(47, 47, 53);
  box-shadow:  0 0 18px rgba(0, 0, 0, 0.296);

  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1{
  color: rgb(150, 150, 150);
  font-family: Arial;
  font-size: 15px;
}
